# Uppgift 1 - Pythonprogrammering med AI

Jag har valt att jobba med ett dataset som innehåller vilka begagnat bilar som är till salu i Storbritanninen. \
Detta dataset hittade jag på Kaggle och andledningen till att jag valde det är att jag tycker att bilar kan vara 
kul men framförallt att det var en lagom storlek på datasettet; inte för litet och inte så stort att det blir otympligt för denna labb.

In [2]:
import pandas as pd
import numpy as np

Jag börjar med att importera pandas för att hantera min data och numpy for att få lite mer datatyper att jobba med.

Jag läser sedan in mitt dataset som jag laddade ner. Det är cirka 350MB stort när det är okomprimerat men eftersom pandas kan läsa in zip-filer så väljer jag att göra det. Filstorleken sjunker då till ca: 42MB vilket är lite smidigare att hantera.\
\
Efter jag läst in filen kollar jag på de första 5 raderna för att få en inblick i hur mitt data sett ser ut.

In [3]:
allCars = pd.read_csv('./dataset/all_car_adverts.csv.zip')
allCars.head()

,make,model,variant,car_price,car_badges,car_title,car_sub_title,car_attention_grabber,car_specs,car_seller,...,num_owner,ulez,full_service,part_service,part_warranty,full_dealership,first_year_road_tax,brand_new,finance_available,discounted
0,AC,Cobra,NaN,89995.0,NaN,AC Cobra,4.9 MK IV CRS 2dr,GENUINE AC COBRA CRS 522 BHP,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,...,5.0,0,0,0,0,0,0,0,0,0
1,AC,Cobra,NaN,89995.0,NaN,AC Cobra,4.9 MK IV CRS 2dr,GENUINE AC COBRA CRS 522 BHP,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,...,5.0,0,0,0,0,0,0,0,0,0
2,AC,Cobra,NaN,92500.0,'',AC Cobra,378 - MkIV,PHYSICAL CAR!,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,...,NaN,0,0,0,0,0,0,0,0,0
3,AC,Cobra,NaN,92500.0,'',AC Cobra,378 - MkIV,PHYSICAL CAR!,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,...,NaN,0,0,0,0,0,0,0,0,0
4,AC,Cobra,NaN,109995.0,'',AC Cobra,MK1V 212 SC. 3.5 V8 350 BHP LOTUS TWIN TURBO. ...,FULL CARBON FIBRE BODY.,"2000 (X reg), Convertible, 21,600 miles, 3.5L,...",PREMIER GT LIMITED,...,3.0,0,0,0,0,0,0,0,0,0

Det visar sig att jag har 31(!) kolumner att jobba med. Detta är mer än vad som Visual Studio Code visar i bredd. För att istället bara visa vilka kolumner som finns kan jag köra kommandot \
allcars.columns -- Detta retunerar namnet på alla kolummner.

In [4]:
allCars.columns

Index(['make', 'model', 'variant', 'car_price', 'car_badges', 'car_title',
       'car_sub_title', 'car_attention_grabber', 'car_specs', 'car_seller',
       'car_seller_rating', 'car_seller_location', 'year', 'reg', 'body_type',
       'miles', 'engine_vol', 'engine_size', 'engine_size_unit',
       'transmission', 'feul_type', 'num_owner', 'ulez', 'full_service',
       'part_service', 'part_warranty', 'full_dealership',
       'first_year_road_tax', 'brand_new', 'finance_available', 'discounted'],
      dtype='object')

Efter att jag kollat på de kolumnerna som finns så har jag valt ut några enligt följande:
1. 'make' - Vilket märke på bilen det är 
2. 'model' - Vilket modell det är
3. 'variant' - Om det är ytterliggare någon mer benämning på bilen. 
4. 'car_price' - Priset är ju alltid intressant.
5. 'car_title' - Ett kombinerat namn på både bil modell och variant. Ibland ifyllt och ibland inte...
6. 'car_specs' - Information om bilen i stort, tex om det är en bensin motor eller diesel. 
7. 'car_seller' - Om det är en privat säljare eller om det är ett företag. 
8. 'full_service' - Om bilen är fullservad eller inte.

In [5]:
print(allCars["make"][1])
print(allCars["model"][1])
print(allCars["variant"][1])
print(allCars["car_price"][1])
print(allCars["car_title"][1])
print(allCars["car_specs"][1])
print(allCars["car_seller"][1])
print(allCars["full_service"][1])

AC
Cobra
nan
89995.0
AC Cobra
2001 (X reg), Convertible, 14,400 miles, 4.9L, 225BHP, Manual, Petrol, 5 owners
Private seller
0

Den data jag får ut här känns helt ok. Jag noterar att alla kolumner inte alltid är ifyllda och att jag måste hantera detta när jag senare skall börja använda datan. \
Jag ser också att "car_specs" är en String bestående av ett flertal data. Dessa måste splittas i egna kolumner för att bli lättare att jobba med. \
Datan i "car_specs" finns också redan färdig i egna kolumner men då jag vill lära mig att mer om hur jag kan jobba med Strings osv så väljer jag medvetet bort de kolumnerna.

In [6]:
specs = allCars["car_specs"][1].split(", ")
print(specs)
print("Body Type: " + specs[1])

['2001 (X reg)', 'Convertible', '14,400 miles', '4.9L', '225BHP', 'Manual', 'Petrol', '5 owners']
Body Type: Convertible

Då jag kan JavaScript så gissade jag lite på hur jag kan dela upp en String, visade sig att det fungerar på samma sätt i Python. Trevligt! \
\
Då jag nu vet vad jag vill ha för data så vill jag skrota all den data jag inte skall använda, dels för att det är lättare att hantera men också för att spara minne och processorkraft. \
Jag väljar att skapa mig ett nytt dataframe dit jag kopierar de kolumner jag vill spara och därefter tar jag bort det gamla dataframet.

In [7]:
carData = allCars[["make","model", "variant", "car_price", "car_title", "car_specs", "car_seller", "full_service"]].copy()

del allCars # del -> Delete  : Ta bort den gamla filen.

carData.head()

,make,model,variant,car_price,car_title,car_specs,car_seller,full_service
0,AC,Cobra,NaN,89995.0,AC Cobra,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,0
1,AC,Cobra,NaN,89995.0,AC Cobra,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,0
2,AC,Cobra,NaN,92500.0,AC Cobra,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,0
3,AC,Cobra,NaN,92500.0,AC Cobra,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,0
4,AC,Cobra,NaN,109995.0,AC Cobra,"2000 (X reg), Convertible, 21,600 miles, 3.5L,...",PREMIER GT LIMITED,0

Nu ser det betydligt bättre ut. Mitt nästa steg är att försöka få car_specs att bli ett flertal nya kolumner med rätt data i varje.

In [14]:
# Define some lists
year = []
body = []
miles = []
engine_size = []
bhp = []
transmission = []
fuel = []
owners = []

for x in range(0, 5):
    data = carData["car_specs"][x].split(", ")
    print(data)
    year.append(data[0])
    body.append(data[1])
    miles.append(data[2])
    engine_size.append(data[3])
    bhp.append(data[4])
    transmission.append(data[5])
    fuel.append(data[6])
    owners.append(data[7])
    
print(year, body)

['2001 (X reg)', 'Convertible', '14,400 miles', '4.9L', '225BHP', 'Manual', 'Petrol', '5 owners']
['2001 (X reg)', 'Convertible', '14,400 miles', '4.9L', '225BHP', 'Manual', 'Petrol', '5 owners']
['2019 (T reg)', 'Convertible', '650 miles', 'Manual', 'Petrol']

IndexError: list index out of range

Här stöter jag direkt på patrull. Det visar sig att all data inte alltid är ifylld vilket innebär att min korta test loop kraschar då jag hårdkodat vilket list element som skall flyttas till sin lista.\
Min plan nu är att jag skall med hjälpa av RegEx utryck försöka sortera datan efter bästa förmåga, om inte det finns data skall en jag skicka med tex 0 eller en tom string där det saknas data.

In [15]:
import re # RegEx

In [33]:
yearRE = "200"
test = re.search("\d{4}",yearRE)
if test:
    print(test.group())
else:
    print("Found nothing")
    
yearRE = "2001 (X reg)"
test = re.search("\d{4}",yearRE)
if test:
    print(test.group())
else:
    print("Found nothing")

Found nothing
2001