# Uppgift 1 - Pythonprogrammering med AI

Jag har valt att jobba med ett dataset som innehåller vilka begagnat bilar som är till salu i Storbritanninen. 
Detta dataset hittade jag på Kaggle och andledningen till att jag valde det är att jag tycker att bilar kan vara 
kul men framförallt att det var en lagom storlek på datasettet; inte för litet och inte så stort att det blir otympligt för denna labb.

In [3]:
import pandas as pd

In [7]:
allCars = pd.read_csv('./dataset/all_car_adverts.csv.zip')
allCars.head()

,make,model,variant,car_price,car_badges,car_title,car_sub_title,car_attention_grabber,car_specs,car_seller,...,num_owner,ulez,full_service,part_service,part_warranty,full_dealership,first_year_road_tax,brand_new,finance_available,discounted
0,AC,Cobra,NaN,89995.0,NaN,AC Cobra,4.9 MK IV CRS 2dr,GENUINE AC COBRA CRS 522 BHP,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,...,5.0,0,0,0,0,0,0,0,0,0
1,AC,Cobra,NaN,89995.0,NaN,AC Cobra,4.9 MK IV CRS 2dr,GENUINE AC COBRA CRS 522 BHP,"2001 (X reg), Convertible, 14,400 miles, 4.9L,...",Private seller,...,5.0,0,0,0,0,0,0,0,0,0
2,AC,Cobra,NaN,92500.0,'',AC Cobra,378 - MkIV,PHYSICAL CAR!,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,...,NaN,0,0,0,0,0,0,0,0,0
3,AC,Cobra,NaN,92500.0,'',AC Cobra,378 - MkIV,PHYSICAL CAR!,"2019 (T reg), Convertible, 650 miles, Manual, ...",Boss Motor Company Limited,...,NaN,0,0,0,0,0,0,0,0,0
4,AC,Cobra,NaN,109995.0,'',AC Cobra,MK1V 212 SC. 3.5 V8 350 BHP LOTUS TWIN TURBO. ...,FULL CARBON FIBRE BODY.,"2000 (X reg), Convertible, 21,600 miles, 3.5L,...",PREMIER GT LIMITED,...,3.0,0,0,0,0,0,0,0,0,0

In [6]:
allCars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054965 entries, 0 to 1054964
Data columns (total 31 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   make                   1054965 non-null  object
 1   model                  1054468 non-null  object
 2   variant                1051408 non-null  object
 3   car_price              1054965 non-null  float64
 4   car_badges             1023016 non-null  object
 5   car_title              1054965 non-null  object
 6   car_sub_title          1054136 non-null  object
 7   car_attention_grabber  940656 non-null   object
 8   car_specs              1054965 non-null  object
 9   car_seller             1054698 non-null  object
 10  car_seller_rating      802379 non-null   float64
 11  car_seller_location    1052009 non-null  object
 12  year                   1054965 non-null  object
 13  reg                    961189 non-null   object
 14  body_type              1054028 non-null  object
 15  miles                  981542 non-null   float64
 16  engine_vol             1033531 non-null  float64
 17  engine_size            1049110 non-null  float64
 18  engine_size_unit       1049110 non-null  object
 19  transmission           1054665 non-null  object
 20  feul_type              1054670 non-null  object
 21  num_owner              583118 non-null   float64
 22  ulez                   1054965 non-null  int64
 23  full_service           1054965 non-null  int64
 24  part_service           1054965 non-null  int64
 25  part_warranty          1054965 non-null  int64
 26  full_dealership        1054965 non-null  int64
 27  first_year_road_tax    1054965 non-null  int64
 28  brand_new              1054965 non-null  int64
 29  finance_available      1054965 non-null  int64
 30  discounted             1054965 non-null  int64
dtypes: float64(6), int64(9), object(16)
memory usage: 249.5+ MB